@{
    Layout = "~/Views/Shared/_HeaderAndFooter.cshtml";
}

@{
    ViewBag.Title = "Adminiscar";
}

<!--header-->
<header class="navInfo mb-3">

    <div class="row justify-content-center">
        <div class="col">
            <div class="dataHora d-inline-block p-2 rounded">
                <!--<p>01/10/2020 13:50</p>-->
                <p>@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year @DateTime.Now.Hour:@DateTime.Now.Minute</p>
            </div>
        </div>

        <div class="col text-center">
            <div class="logoConteinerSmall d-inline-block p-2 rounded bg-light boxShadow">
                <img class="logoSmall" src="~/Img/Logo/adminiscar.jpg" alt="logo_da_empresa" />
            </div>
        </div>

        <div class="col text-right">
            <div class="butao butao-logout1 d-inline-block p-2 rounded text-center">
                <p>Voltar</p>
            </div>
        </div>
    </div>

</header>
<!--fimHeader-->

<h2 class="text-center font-weight-bold text-white">Devolução</h2>

<!--Consulta-->
<section class="row justify-content-center my-4">
    <div class="col-12 p-3 bg-light">

        <h2 class="text-center my-2 text-roxo">Pesquisa</h2>

        <form class="my-3">
            <div class="row p-2 justify-content-center">
                <div class="col-7">
                    <input type="text" class="form-control col-12 boxShadow2" placeholder="">
                </div>
                <div class="col-2">
                    <button class="btn btn-secondary bg-branco rounded" type="reset">Buscar</button>
                </div>
            </div>

            <div class="row p-2 justify-content-center text-roxo">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">CNH</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">CPF</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">CNPJ</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Numero Do Pedido</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Placa</label>
                </div>
            </div>
        </form>
    </div>

    <div class="col-12 mt-4 pt-2">
        <table class="table mt-2 bg-light rounded">
            <thead class="thead-dark text-center">
                <tr>
                    <th scope="col">Numero Do Pedido</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>000000000</td>
                    <td>123.205.456-89</td>
                    <td>KOP12356</td>
                    <td>153.624.89910</td>
                    <td>
                        <button class="btn btn-primary my-1">Detalhe</button>
                        <button class="btn btn-primary my-1">Dar Baixa</button>
                        <button class="btn btn-primary my-1">Alterar</button>
                    </td>
                </tr>

                <tr>
                    <td>000000000</td>
                    <td>123.205.456-89</td>
                    <td>KOP12356</td>
                    <td>153.624.89910</td>
                    <td>
                        <button class="btn btn-primary my-1">Detalhe</button>
                        <button class="btn btn-primary my-1">Dar Baixa</button>
                        <button class="btn btn-primary my-1">Alterar</button>
                    </td>
                </tr>

                <tr>
                    <td>000000000</td>
                    <td>123.205.456-89</td>
                    <td>KOP12356</td>
                    <td>153.624.89910</td>
                    <td>
                        <button class="btn btn-primary my-1">Detalhe</button>
                        <button class="btn btn-primary my-1">Dar Baixa</button>
                        <button class="btn btn-primary my-1">Alterar</button>
                    </td>
                </tr>

                <tr>
                    <td>000000000</td>
                    <td>123.205.456-89</td>
                    <td>KOP12356</td>
                    <td>153.624.89910</td>
                    <td>
                        <button class="btn btn-primary my-1">Detalhe</button>
                        <button class="btn btn-primary my-1">Dar Baixa</button>
                        <button class="btn btn-primary my-1">Alterar</button>
                    </td>
                </tr>

                <tr>
                    <td>000000000</td>
                    <td>123.205.456-89</td>
                    <td>KOP12356</td>
                    <td>153.624.89910</td>
                    <td>
                        <button class="btn btn-primary my-1">Detalhe</button>
                        <button class="btn btn-primary my-1">Dar Baixa</button>
                        <button class="btn btn-primary my-1">Alterar</button>
                    </td>
                </tr>

                <tr>
                    <td>000000000</td>
                    <td>123.205.456-89</td>
                    <td>KOP12356</td>
                    <td>153.624.89910</td>
                    <td>
                        <button class="btn btn-primary my-1">Detalhe</button>
                        <button class="btn btn-primary my-1">Dar Baixa</button>
                        <button class="btn btn-primary my-1">Alterar</button>
                    </td>
                </tr>
            </tbody>
        </table>



        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled text-roxo">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link text-roxo" href="#">1</a></li>
                <li class="page-item"><a class="page-link text-roxo" href="#">2</a></li>
                <li class="page-item"><a class="page-link text-roxo" href="#">3</a></li>
                <li class="page-item"><a class="page-link text-roxo" href="#">4</a></li>
                <li class="page-item"><a class="page-link text-roxo" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link text-roxo" href="#">Next</a>
                </li>
            </ul>
        </nav>

    </div>
</section>
<!--fimConsulta-->
