@{
    Layout = "~/Views/Shared/_HeaderAndFooter.cshtml";
}

@{
   ViewBag.Title = "Adminiscar";
}

<div class="row p-3">
    <!--nome/dateAndTime/lougot-->
    <div class="col-12 my-2">

        <div class="row justify-content-center">

            <div class="col">
                <div class="dataHora d-inline-block p-2 rounded">
                    <!--<p>01/10/2020 13:50</p>-->
                    <p>@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year @DateTime.Now.Hour:@DateTime.Now.Minute</p>
                </div>
            </div>

            <div class="col text-center">
                <div class="nomeFuncInicial d-inline-block p-2 rounded">
                    <h5 class="text-white text-shadow font-weight-bold">Nome Do Funcionario</h5>
                </div>
            </div>

            <div class="col text-right">
                <div class="butao butao-logout1 d-inline-block p-2 rounded text-center">
                    <p>Sair</p>
                </div>
            </div>

        </div>

    </div>
    <!--fimNome/dateAndTime/lougot-->
    <!--logo-->
    <div class="col-12 my-2 text-center">
        <!--<img class="rounded telaInicialLogo" src="~/Img/Logo/adminiscar.jpg" alt="logo_da_adminiscar" />-->
        <div class="divLogo p-2 d-inline-block rounded">
            <img class="rounded telaInicialLogo" src="~/Img/Logo/adminiscar.jpg" alt="logo_da_adminiscar" />
        </div>

    </div>
    <!--fimLogo-->

    <!--NavegaçãoFunctions-->
    <div class="col-12 my-2">
        <nav class="text-center p-2 rounded bg-light shadow">
            <div class="functNav d-inline-block m-2 rounded bg-light boxShadow p-2" onclick="NavFuncao(1);">
                <img class="iconeNav" src="~/Img/Icones/cliente.png" alt="menu_cliente" />
                <p>Cliente</p>
            </div>

            <div class="functNav d-inline-block m-2 rounded bg-light boxShadow p-2" onclick="NavFuncao(2);">
                <img class="iconeNav" src="~/Img/Icones/carro.png" alt="menu_carro" />
                <p>Carro</p>
            </div>

            <div class="functNav d-inline-block m-2 rounded bg-light boxShadow p-2" onclick="NavFuncao(3);">
                <img class="iconeNav" src="~/Img/Icones/chaves.png" alt="menu_locacoes" />
                <p>Locações</p>
            </div>

            <div class="functNav d-inline-block m-2 rounded bg-light boxShadow p-2" onclick="NavFuncao(4);">
                <img class="iconeNav" src="~/Img/Icones/Devolucao.png" alt="menu_devolucoes" />
                <p>Devoluções</p>
            </div>

            <div class="functNav d-inline-block m-2 rounded bg-light boxShadow p-2" onclick="NavFuncao(5);">
                <img class="iconeNav" src="~/Img/Icones/manutencao.png" alt="menu_manutencao" />
                <p>Manutencão</p>
            </div>

            <div class="functNav d-inline-block mx-2 rounded bg-light boxShadow p-2" onclick="NavFuncao(6);">
                <img class="iconeNav" src="~/Img/Icones/cliente.png" alt="menu_teste" />
                <p>testeExtra</p>
            </div>
        </nav>
    </div>
    <!--fimNavegaçãoFunctions-->

</div>
