@{
    Layout = "~/Views/Shared/_HeaderAndFooter.cshtml";
}

@{
   ViewBag.Title = "Adminiscar";
}

<div class="row p-3">
    <!--nome/dateAndTime/lougot-->
    <div class="col-12 my-2">

        <div class="row justify-content-center">
            
            <div class="col">
                <div class="dataHora d-inline-block p-2 rounded">
                    <p>01/10/2020 13:50</p>
                </div>
            </div>

            <div class="col text-center">
                <div class="nomeFuncInicial d-inline-block p-2 rounded">
                    <h5 class="text-white text-shadow font-weight-bold">Nome Do Funcionario</h5>
                </div>
            </div>

            <div class="col text-right">
                <div class="butao d-inline-block p-2 rounded text-center dataHora">
                    <p>Sair</p>
                </div>
            </div>

        </div>    

    </div>
    <!--fimNome/dateAndTime/lougot-->

    <!--logo-->
    <div class="col-12 my-2 text-center">
        <!--<img class="rounded telaInicialLogo" src="~/Img/Logo/adminiscar.jpg" alt="logo_da_adminiscar" />-->
        <div class="divLogo p-2 d-inline-block rounded">
            <img class="rounded telaInicialLogo" src="~/Img/Logo/adminiscar.jpg" alt="logo_da_adminiscar" />
        </div>

    </div>
    <!--fimLogo-->

    <div class="col-12 my-2 teste">
        <nav class="">
            <div class="teste">
                <img class="teste" src="~/Img/Icones/cliente.png" alt="menu_cliente" height="50" width="50"/>
                <p>Cliente</p>
            </div>

            <div class="teste">
                <img class="teste" src="~/Img/Icones/carro.png" alt="menu_carro" height="50" width="50"/>
                <p>Carro</p>
            </div>

            <div class="teste">
                <img class="teste" src="~/Img/Icones/chaves.png" alt="menu_locacoes" height="50" width="50"/>
                <p>Locações</p>
            </div>

            <div class="teste">
                <img class="teste" src="~/Img/Icones/Devolucao.png" alt="menu_devolucoes" height="50" width="50"/>
                <p>Devoluções</p>
            </div>

            <div class="teste">
                <img class="teste" src="~/Img/Icones/manutencao.png" alt="menu_manutencao" height="50" width="50"/>
                <p>Manutencão</p>
            </div>

            <div class="teste">
                <img class="teste" src="~/Img/Icones/cliente.png" alt="menu_teste" height="50" width="50"/>
                <p>testeExtra</p>
            </div>
        </nav>
    </div>
</div>
