@{
    Layout = "~/Views/Shared/_HeaderAndFooter.cshtml";
}

@{
   ViewBag.Title = "Adminiscar";
}

<div class="row p-3 teste">
    <!--nome/dateAndTime/lougot-->
    <div class="col-12 my-2 teste">
        <div class="teste dataHora d-inline-block p-2">
            <p>01/10/2020 13:50</p>
        </div>

        <div class="teste nomeFuncInicial d-inline-block p-2">
            <p>Nome Do Funcionario</p>
        </div>

        <div class="teste butao d-inline-block p-2">
            <div class="">Sair</div>
        </div>

    </div>
    <!--fimNome/dateAndTime/lougot-->

    <!--logo-->
    <div class="col-12 my-2 teste">
        <img class="rounded teste" src="~/Img/Logo/adminiscar.jpg" alt="logo_da_adminiscar" height="300" width="300"/>
    </div>
    <!--fimLogo-->

    <div class="col-12 my-2 teste">
        <nav class="">
            <div class="teste">
                <img class="teste" src="~/Img/Icones/cliente.png" alt="menu_cliente" height="50" width="50"/>
                <p>Cliente</p>
            </div>

            <div class="teste">
                <img class="teste" src="~/Img/Icones/carro.png" alt="menu_carro" height="50" width="50"/>
                <p>Carro</p>
            </div>

            <div class="teste">
                <img class="teste" src="~/Img/Icones/chaves.png" alt="menu_locacoes" height="50" width="50"/>
                <p>Locações</p>
            </div>

            <div class="teste">
                <img class="teste" src="~/Img/Icones/Devolucao.png" alt="menu_devolucoes" height="50" width="50"/>
                <p>Devoluções</p>
            </div>

            <div class="teste">
                <img class="teste" src="~/Img/Icones/manutencao.png" alt="menu_manutencao" height="50" width="50"/>
                <p>Manutencão</p>
            </div>

            <div class="teste">
                <img class="teste" src="~/Img/Icones/cliente.png" alt="menu_teste" height="50" width="50"/>
                <p>testeExtra</p>
            </div>
        </nav>
    </div>
</div>
