.teste {
    border: 1px solid #000;
}
/*backgroundGradient*/
.bg-degrader {
    height: auto;
    background-image: linear-gradient(#a75afa, #5762fe);
    background-size: auto; /*largura esta auto e altura esta em 1200px*/
    background-position: center;
    background-repeat: no-repeat;
}
.bg-transpWhite {
    background-color: rgba(251,251,251,0.5);
}
.bg-branco {
    backgorund-color: #fbfbfb;
}
/*fimBackgroundGradient*/

/*shadowBox*/
.boxShadow {
    box-shadow: 1px 1px 4px #000;
}
.boxShadow2{
    box-shadow: 1px 1px 14px #cdcdcd;
}
/*fimShadowBox*/

.text-white {
    color: #fbfbfb;
}

.text-roxo {
    color: #a75afa;
}

.text-shadow {
    text-shadow: 2px 2px 3px #000;
}

/*Nãovisivel*/
.noVisive {
    display: none;
}
/*fim*/

/*botoes*/
.butao{
    max-height: 50px;
    max-width: 120px;
    height: 100%;
    width: 100%;
}
.butaoMedian {
    max-height: 90px;
    max-width: 140px;
    height: 50px;
    width: 110px;
    border: none;
}
.butao-version2 {
    /*background-color: #fbfbfb;*/
    box-shadow: 2px 2px 10px #000;
} 
.butao-version1 {
    background-color: #fbfbfb;
    box-shadow: 2px 2px 10px #000;
}
.butao-version1:hover {
    box-shadow: none;
    color: white !important;
    background-color: #5762fe;
}
.butao-logout1 {
    cursor: pointer;
    background-color: #fbfbfb;
    box-shadow: 2px 2px 8px #000;
}
    .butao-logout1:hover {
        box-shadow: none;
        border: 1px solid #cdcdcd;
    }

.butaoActive {
    background-color: #9999ff;
    border: 1px solid #fbfbfb;
    color: white;
    box-shadow: none;
    cursor: no-drop !important;
}
/*fimBotoes*/

/*iconeDeLoginTelaDeLogin*/
.iconeImgUser {
    max-height: 150px;
    max-width: 150px;
    height: 100%;
    width: 100%;
}
/*fimIconeDeLoginTelaDeLogin*/

/*loadding*/
.imgTelaLoadding {
    max-height: 350px;
    max-width: 700px;
    height: 100%;
    width: 100%;
}

#myProgress {
    width: 100%;
    background-color: #dcd9d9;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: #33cc00;
}
/*fimLoadding*/

/*dados*/
.dataHora {
    background-color: #fbfbfb;
    box-shadow: 2px 2px 8px #000;
}
/*fimDados*/

/*logoTelaInicial*/
.divLogo {
    max-height: 400px;
    max-width: 500px;
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;
    box-shadow: 3px 3px 8px #000;
}
.telaInicialLogo {
    width: 100%;
    height: 100%;
}
/*fimLogoTelaInicial*/

/*navegacaoDoSistema*/
.functNav {
    max-height: 130px;
    max-width: 130px;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.functNav:hover {
    border: 1px solid #cdcdcd;
    box-shadow: none;
}
.iconeNav {
    height: 80%;
    width: 80%;
}

/*fimNabegacaoDoSistema*/

/*navVolta*/
.logoConteinerSmall {
    max-height: 180px;
    max-width: 250px;
    height: 100%;
    width: 100%;
}

.logoSmall {
    max-height: 125px;
    max-width: 180px;
    height: 100%;
    width: 100%;
}
/*fimNavVolta*/
